extends layout
block content
 h1= title
 form(id='goatForm', action="/resource/goats", method="POST")
  div.form-group
   label.goatAttr(for='goat_color') goat Color
   input#goat_color(type='text', name='goat_color')
  div.form-group
   label.goatAttr(for='goat_breed') goat Breed
   input#goat_breed(type='text', name='goat_breed')
  div.form-group
   label.goatAttr(for='goat_price') goat Cost 
   input#goat_price(type='text', name='goat_price')
  input(type="submit")
 script.
  document.forms['goatForm'].addEventListener('submit', (event) => {
    event.preventDefault();
    fetch(event.target.action, {
        method: 'POST',
        body: new URLSearchParams(new FormData(event.target)) 
    }).then((resp) => {
        return resp.json();
    }).then((body) => {
        alert("Save succeded")
    }).catch((error) => {
        alert("Save failed " + error )
    });
   }); 