extends layout

block content
  h1= title
  p Welcome to bollu teja bulls lover.
  button(type="button" class="btn btn-success" onclick="goFaster()") Press Me
  div#faster Increase the speed
  script. 
    let mph = 20;
    let change = 1;
    function goFaster() {
      mph = mph + change;
      change = change + 1;
      document.getElementById("faster").innerText = `MPH ${mph} with change ${change}`
    }

  

 


  